<html lang="en">
   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
<div class="container-fluid">
    <br>
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">Welcome</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <img src="https://cdn3.iconfinder.com/data/icons/cryptocurrency-and-blockchain-1/64/cryptocurrency_blockchain_digital_contract-512.png" class="img-thumbnail" alt="generic logo" style="width:20%">

                            <p>Blockchain Contract</p>
                            If this is your first time, go to <b>Settings</b> to <b>generate keys</b>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $( function() {
        $("#nav_home").tab('show');
    });
</script>
<%- include footer %>
