    </div>
  </body>
<script>
    function submit_account_changes() {
        if (field_is_empty()) {
            console.log("is blank, no submit");
            create_alert("Something is blank! No changes made.");
        }
        else {
            console.log("submitting");
            $("#account_form").submit();
        }
    }

    function create_alert(msg) {
        $('#page_alert').html('<div id="page_alert_message" class="alert alert-warning alert-dismissible" role="alert">'+msg+'<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
        //$('#page_alert').html("test");
    }

    function field_is_empty() {
        var is_empty = false;
        $('input[type="text"]').each( function(i,field) {
            console.log("field:"+i+field.value);
            if (!field.value) {

                is_empty = true;
            }
        });
        $('input[type="password"]').each( function(i,field) {
            console.log("field:"+i+field.value);
            if (!field.value) {
                is_empty = true;
            }
        });
        console.log("isempty:"+is_empty);
        return is_empty;
    }

    function count_contracts() {
        var contracts_counted = function(data) {
            $("#num_contracts").html(data.length);
        };
        $.post("/api/1/num_contracts", null, contracts_counted );
    }
</script>
</html>
