<html lang="en">
   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <br>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">Contracts</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <ul class="list-group pre-scrollable"> <!--HEIGHT: look in CSS in HEADER -- starts table and makes scrollable-->
                            <li class="list-group-item">First item</li>
                            <li class="list-group-item">Second item</li>
                            <li class="list-group-item">Third item</li>
                            <li class="list-group-item">Fourth item</li>
                            <li class="list-group-item">Fifth item</li>
                            <li class="list-group-item">Sixth item</li>
                            <li class="list-group-item">Seventh item</li>
                            <li class="list-group-item">Eighth item</li>
                            <li class="list-group-item">Ninth item</li>
                            <li class="list-group-item">Tenth item</li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4">
                                <br><button  class="btn btn-info" onclick="refresh()" id="refresh">Refresh</button>

                                <button class="btn btn-success" onclick="sign_contract()"  id="sign_contract">Sign</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        $( function() {
            $("#nav_received").tab('show');
            //enable to refresh at page load:
            //refresh();
        });

        function refresh() {
            console.log("refreshing");

            /*//dev test purposes/example of usage:
            var newContractName = "contract3";
            var newContractTitle = "Test Agreement #3";
            var newTr = '<tr><td><input type="checkbox" name="'+newContractName+'" />'+newContractTitle+'</td><td>no</td></tr>';
            contracts.append(newTr);


            //implementation

            var data_refreshed = function(data){
                console.log(data);
            }

            $.post("/api/1/load_contracts", null, data_refreshed);*/

            var contracts_fetched = function(data) {
                console.log("fetched");
                console.log(data);
            };
            $.post("/api/1/load_contracts", null, contracts_fetched );


        }

        function sign_contract() {

            //implementation

            var contract_signed = function(data){
                console.log(data);
            }

            $.post("/api/1/sign_contract", null, contract_signed);
        }
        $( function() {
            sign_contract();
        });


    </script>

    <%- include footer %>
