<html lang="en">
   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <br>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">Contracts</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <ul class="list-group pre-scrollable accordion" id="contracts"> <!--HEIGHT: look in CSS in HEADER -- starts table and makes scrollable-->
                            <li class="list-group-item">First item</li>
                            <li class="list-group-item">Second item</li>
                            <li class="list-group-item">Third item</li>
                            <li class="list-group-item">Fourth item</li>
                            <li class="list-group-item">Fifth item</li>
                            <li class="list-group-item">Sixth item</li>
                            <li class="list-group-item">Seventh item</li>
                            <li class="list-group-item">Eighth item</li>
                            <li class="list-group-item">Ninth item</li>
                            <li class="list-group-item">Tenth item</li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4">
                                <br><button  class="btn btn-info" onclick="refresh()" id="refresh">Refresh</button>

                                <button class="btn btn-success" onclick="sign_contract()"  id="sign_contract">Sign</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        $( function() {
            $("#nav_received").tab('show');
            count_contracts();
            //enable to refresh at page load:
            refresh();
        });

        function refresh() {
            console.log("refreshing");
            $("#contracts").empty();

            var contracts_fetched = function(data) {
                console.log("fetched");
                console.log(data);

                data.forEach( function(block,index) {
                    add_entry(block,index);
                });
            };
            $.post("/api/1/load_contracts", null, contracts_fetched );



        }

        function add_entry(block,index) {
            contracts = $("#contracts");

            title = "Contract "+index; //this is an internal index for the page, not the index on the chain; each entry needs a unique identifier for the collapse functionality
            contents = block.data;

            //new_entry = '<li class="list-group-item card"><a data-toggle="collapse" data-parent="#contracts" href="#test"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>'+title+'</a><ul id="test" class="collapse"><li>Test</li></ul> </li>';
            new_entry = '<li class="list-group-item card"><div class="card-header" id="header_'+index+'"><button class="btn btn-xs" data-toggle="collapse" data-parent="#contracts" data-target="#body_'+index+'" aria-controls="collapse"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp;</button>'+title+'</div><ul id="body_'+index+'" class="collapse" aria-labelledby="header_'+index+'" data-parent="#contracts"><li>'+contents+'</li></ul> </li>';


            contracts.append(new_entry);
        }

        function sign_contract() {

            //implementation

            var contract_signed = function(data){
                console.log(data);
            }

            $.post("/api/1/sign_contract", null, contract_signed);
        }
        $( function() {
            sign_contract();
        });


    </script>

    <%- include footer %>
