<html lang="en">
   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <br>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">Private Key</h2>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6">
                        <form id="sendform" class="form-horizontal" role="form" method="POST" action="/api/1/upload_private_key" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="input-group">
                                        <label class="input-group-btn">
                                            <span class="btn btn-primary">
                                                Browse&hellip; <input name="upload_private_key" type="file" style="display: none;" multiple>
                                            </span>
                                        </label>
                                        <input type="text" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <input type="submit" value="Upload" id="upload_key_file" class="btn btn-success">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-info form-group col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <!--<div class="col-xs-12 pre-scrollable" style="min-height:45px;max-height:45px;">-->
                                <div class="col-xs-12 pre-scrollable" style="word-wrap: break-word; min-height: 20px;max-height: 80px;">
                                    <%=private_key%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">Contracts</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-group pre-scrollable" id="contracts"> <!--HEIGHT: look in CSS in HEADER , starts table and makes scrollable-->

                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <div id="doc_view" class="pre-scrollable">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-offset-6" id="doc_buttons">
                                <!--<br><button  class="btn btn-info" onclick="refresh()" id="refresh">Refresh</button>-->
                                <!--<button class="btn btn-success" onclick="sign_contract()"  id="sign_contract">Sign</button>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        var blocks_stringified = "";
        var blocks_decrypted = new Map();
        $( function() {
            $("#nav_received").tab('show');
            count_contracts();
            //enable to refresh at page load:
            refresh();

            $("#contracts").on('click','.card',function(events){
                //console.log("eventargs got:"+$(events.target).hasClass("btn-warning")  );
                if (! $(events.target).hasClass("btn-warning") ) {//if anything except the button was clicked

                    $(".card.active").removeClass('active');
                    $(this).addClass('active');

                    id = $(this).attr('id');
                    index = id.substring(id.indexOf("_")+1);
                    //console.log("clicked index"+index);

                    $("#contracts").find("button").addClass("hidden");
                    $(this).find("button").removeClass("hidden");
                    //$("#btn_decrypt_"+index).removeClass("hidden");

                    var blocks = JSON.parse(blocks_stringified);
                    var contents = blocks[index].data;

                    //reminder: add a check if contents have been decrypted already
                    if (blocks_decrypted.has(index) ) {
                        console.log("block cache found");
                        $("#doc_view").html(blocks_decrypted.get(index) );
                        $("#doc_view").css("color", "black");
                    }
                    else {
                        $("#doc_view").html(contents);
                        $("#doc_view").css("color", "red");
                    }
                }
            });

            $("#contracts").on('click','.btn-warning',function(){
                id = $(this).attr('id');
                if (id.includes("bdecrypt")) {
                    index = id.substring(id.indexOf("_")+1);
                    //console.log("clicked "+id);
                    var blocks = JSON.parse(blocks_stringified);
                    var contents = blocks[index].data;
                    var decrypted = decrypt(contents);

                    blocks_decrypted.set(index, decrypted);
                    $("#doc_view").html(decrypted);
                    $("#doc_view").css("color", "black");
                    $("#lock_"+index).css("visibility","hidden");
                }

            });

            $(document).on('change', ':file', function() {
               var input = $(this),
                   numFiles = input.get(0).files ? input.get(0).files.length : 1,
                   label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
               input.trigger('fileselect', [numFiles, label]);
             });

             // We can watch for our custom `fileselect` event like this
             $(document).ready( function() {
                 $(':file').on('fileselect', function(event, numFiles, label) {

                     var input = $(this).parents('.input-group').find(':text'),
                         log = numFiles > 1 ? numFiles + ' files selected' : label;

                     if( input.length ) {
                         input.val(log);
                     } else {
                         if( log ) alert(log);
                     }

                 });
             });

        });

        function decrypt(contents) {

            //return "decrypted" + contents;

            console.log("decrypting");
            var decrypt_contract = function(data) {
              console.log("decrypting:"+contents);
              console.log("got:"+data);
              return data;
            };
            $.post('/api/1/decrypt_contract',{contents:contents},decrypt_contract)
        }


        function refresh() {
            console.log("refreshing");
            $("#contracts").empty();
            $("#doc_view").html("");

            var contracts_fetched = function(data) {
                console.log("fetched");
                console.log(data);
                $("#num_contracts").html(data.length);

                blocks_stringified =JSON.stringify(data);
                //puts into global variable containing the blocks json as a string
                //the following line gets the string back as an object to do things with
                //var reparsed = JSON.parse(stringified);

                data.forEach( function(block,index) {
                    add_entry(block,index);
                });
            };
            $.post("/api/1/load_contracts", null, contracts_fetched );

        }

        function add_entry(block,index) {
            contracts = $("#contracts");
            doc_view = $("#doc_view");

            title = "Contract "+index; //this is an internal index for the page, not the index on the chain; each entry needs a unique identifier for the collapse functionality
            contents = block.data;

            var timestamp = block.timestamp;
            var date = new Date(timestamp*1000);
            var dateString = date.toDateString();
            dateString = dateString.substring(dateString.indexOf(" ")+1) + " - " + date.toTimeString().substring(0,date.toTimeString().indexOf(" "));
            console.log("timestamp: "+dateString);


            //new_entry = '<li class="list-group-item card"><a data-toggle="collapse" data-parent="#contracts" href="#test"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>'+title+'</a><ul id="test" class="collapse"><li>Test</li></ul> </li>';
            //new_entry = '<li class="list-group-item card"><div class="card-header" id="header_'+index+'"><button class="btn btn-xs" data-toggle="collapse" data-parent="#contracts" data-target="#body_'+index+'" aria-controls="collapse"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp;</button>'+title+'</div><ul id="body_'+index+'" class="collapse" aria-labelledby="header_'+index+'" data-parent="#contracts"><li>'+contents+'</li></ul> </li>';
            //var new_entry = '<li class="list-group-item card btn" id="card_'+index+'"><div class="row"><div class="col-xs-10">'+dateString+'</div><button class="btn btn-warning hidden col-xs-2"  id="bdecrypt_'+index+'" >Decrypt</button></div></li>';
            var new_entry = '<li class="list-group-item card btn" id="card_'+index+'"><div class="row"><div id="lock_'+index+'" style="float:left;margin-left:5px;"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div><div class="col-sm-9"><center>'+dateString+'</center></div><button class="btn btn-warning hidden" style="float:right;margin-right:5px;padding-bottom:0px;padding-top:0px;" id="bdecrypt_'+index+'" >Decrypt</button></div></li>';
            //var doc_entry = '<div class="hidden" id="doc_'+index+'">'+contents+'</div>';
            console.log("contents: "+contents);
            contracts.append(new_entry);
            //doc_view.append(doc_entry);
        }

        //signs contract at index (local index of user's blocks, not on chain)
        function sign_contract() {

            selected = $(".card.active")[0];
            id = $(selected).attr('id');
            index = id.substring(id.indexOf("_")+1);

            var blocks = JSON.parse(blocks_stringified);
            var BlockchainIndex = blocks[index].index; //this is the index on the global chain, to be passed by post request
            console.log("ready to sign "+index);
            var contract_signed = function(data){
                console.log("signing user's block " + index + " which is at " + BlockchainIndex + " globally");
                console.log("status code "+data);
            }

            var private_key = "myPrivateKey"; //replace to load private key from somewhere

            $.post("/api/1/sign_contract", {index:BlockchainIndex,private_key:private_key}, contract_signed);
        }



    </script>

    <%- include footer %>
