<html lang="en">
    <%- include header %>
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Send</h1>


        <form id="sendform" class="form-horizontal" role="form" method="POST" action="/home/send" enctype="multipart/form-data">

            <button onclick="refresh()" type="button" id="refresh">Refresh</button>
            <select id="recipients" name="recipients"></select>
            <br><br>
            Upload contract: <input type="file" id="contract_file" name="contract_file"></input>
            (must be plaintext and less than 512KB)
            <br><br><input type="submit" value="Send" id="send_contract">

        </form>

    </div>

<script>
    $( function() {
        refresh();
    });

    function refresh() {
        $("#recipients").empty();

        var text = "(Select Recipient...)";
        var optionData = "<option value='"+text+"' id='"+text+"'>"+text+"</option>";
        $("#recipients").append(optionData);

        var data_refreshed = function(data){
            console.log(data);
            data.forEach( function(user){

                var dropentry = "<option value='"+user.id+"' id='uid"+user.id+"'>"+user.email+"</option>";

                $("#recipients").append(dropentry);
            });
        };
        $.post("/api/1/load_recipients", null, data_refreshed);
    }


</script>

    <%- include footer %>
