<html lang="en">
    <%- include header %>
    <!-- Main component for a primary marketing message or call to action -->
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <br>
        <div class="container-fluid">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">Send</h2>
                </div>
                <div class="panel-body">
                    <form id="sendform" class="form-horizontal" role="form" method="POST" action="/home/send" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-12">
                                <button onclick="refresh()" type="button" id="refresh" class="btn btn-info">Refresh</button>
                                <select id="recipients" name="recipients" class="form-control selectpicker"></select>
                            </div>
                        </div><br><br>
                        <div class="row" style="margin-bottom:0px;">
                            <span class="col-md-3" />
                                <h4>Upload contract:</h4>
                        </div>
                        <div class="row" style="margin-top:0px;">
                            <div class="col-sm-12">
                                <!--<label class="btn-bs-file btn btn-lg btn-primary">
                                    <input type="file" id="contract_file" name="contract_file">
                                </label>-->
                                <!-- file input -->

                                    <div class="input-group">
                                        <!--<input type="file" id="contract_file" name="contract_file">-->
                                        <label class="input-group-btn">
                                            <span class="btn btn-primary">

                                                Browse&hellip; <input name="contract_file" id="contract_file" type="file" style="display: none;" multiple>

                                            </span>
                                        </label>
                                        <input type="text" class="form-control" readonly>
                                    </div>


                                <!-- end of file input -->

                                <span class="help-block">
                                    <i>(must be plaintext and less than 512KB)</i></h5>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <br><br><input type="submit" value="Send" id="send_contract" class="btn btn-success">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


    $( function() {
        $("#nav_send").tab('show');
        refresh();
        count_contracts();

        $(document).on('change', ':file', function() {
           var input = $(this),
               numFiles = input.get(0).files ? input.get(0).files.length : 1,
               label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
           input.trigger('fileselect', [numFiles, label]);
         });

         // We can watch for our custom `fileselect` event like this
         $(document).ready( function() {
             $(':file').on('fileselect', function(event, numFiles, label) {

                 var input = $(this).parents('.input-group').find(':text'),
                     log = numFiles > 1 ? numFiles + ' files selected' : label;

                 if( input.length ) {
                     input.val(log);
                 } else {
                     if( log ) alert(log);
                 }

             });
         });




    });

    function refresh() {
        $("#recipients").empty();

        var text = "(Select Recipient...)";
        var optionData = "<option value='"+text+"' id='"+text+"'>"+text+"</option>";
        $("#recipients").append(optionData);

        var data_refreshed = function(data){
            console.log(data);
            data.forEach( function(user){

                var dropentry = "<option value='"+user.id+"' id='uid"+user.id+"'>"+user.email+"</option>";

                $("#recipients").append(dropentry);
            });
        };
        $.post("/api/1/load_recipients", null, data_refreshed);
    }


</script>

    <%- include footer %>
